{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}
<div class="container mt-3">
    <h2>{{ task.title }}</h2>
    <p>Descriotion: {{ task.description }}</p>
    <p>Status: <span class="badge badge-primary">{{ task.status }}</span></p>
    <p>Priority: <span class="badge badge-secondary">{{ task.priority }}</span></p>
    <a href="{% url 'task_tracker:task-update' task.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'task_tracker:task-delete' task.id %}" class="btn btn-danger">Delete</a>
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.author }}</li>
            <li>{{ comment.created_at }}</li>
            <li>{{ comment.content }}</li>
            {% if comment.media %}
            <div class="comment-media">
                {% with comment.media.url as media_url %}
                    {% if media_url|slice:"-4:" == ".jpg" or media_url|slice:"-4:" == ".png" or media_url|slice:"-5:" == ".jpeg" %}
                        <img src="{{ media_url }}" alt="Изображение комментария" style="max-width: 1000px;">
                    {% elif media_url|slice:"-4:" == ".mp4" %}
                        <video width="320" height="240" controls>
                            <source src="{{ media_url }}" type="video/mp4">
                            Ваш браузер не поддерживает тег видео.
                        </video>
                    {% else %}
                        <a href="{{ media_url }}">Скачать файл</a>
                    {% endif %}
                {% endwith %}
            </div>
        {% endif %}        
            <li><a href="{% url 'task_tracker:comment-update' comment.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'task_tracker:comment-delete' comment.pk %}" class="btn btn-danger">Delete</a></li>

            <br>
        {% endfor %}
    </ul>
    <h3>Add comment</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class ="btn btn-warning">Submit</button>
    </form>
</div>
{% endblock %}


