{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>{{ task.title }}</h2>
    <p>Descriotion: {{ task.description }}</p>
    <p>Status: <span class="badge badge-primary">{{ task.status }}</span></p>
    <p>Priority: <span class="badge badge-secondary">{{ task.priority }}</span></p>
    <a href="{% url 'task_tracker:task-update' task.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'task_tracker:task-delete' task.id %}" class="btn btn-danger">Delete</a>
    <h3>Comments</h3>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.author }}</li>
            <li>{{ comment.created_at }}</li>
            <li>{{ comment.content }}</li>
            <li><a href="{% url 'task_tracker:comment-update' comment.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'task_tracker:comment-delete' comment.pk %}" class="btn btn-danger">Delete</a></li>

            <br>
        {% endfor %}
    </ul>
    <h3>Add comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class ="btn btn-warning">Submit</button>
    </form>
</div>
{% endblock %}


